<!-- <div class="mainForm">
    <form class="" >   
<div >
    <label>Name</label>
    <input type="text" name="fullName">
</div>
<div>
    <button type="submit" >Submit</button>
</div>
</form>
</div> -->
<div class="container">
    <h2 class="text-center">Register</h2>
    <form class="testForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
      </div>
      <div class="form-group">
        <label for="cmnt">Comment:</label>
        <textarea class="form-control" id="cmnt" placeholder=" Comment" name="comment">
        </textarea>
      </div>
      <div class="form-group ">
       
        <label for="gender">Gender:</label>
        <div class="gender">
        <input class="form-check-input" type="radio" value="male" name="gender"> 
       <label for="defaultRadio">Male</label>
       <br>
       <input class="form-check-input" type="radio" value="female" name="gender"> 
        <label class="" for="defaultRadio">Female</label>
    </div>
      <!-- </label> -->
    </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
     
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  