<div>
  <div class="header-container">
    <header>
      <nav role="navigation">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Delivery</a>
          </li>
          <li>
            <a href="#">Payment</a>
          </li>
          <li>
            <a href="#">Call +9022244466</a>
          </li>
          <li>
            <a href="#">English</a>
          </li>
        </ul>
      </nav>
    </header>
  </div>
  <!-- <div class="second-row">
    <div>
      <div class="leftimg"></div>
      <div class="ecommerceText">
        <ul>
          <li style="color: black; font-weight: 600">Bootstrap</li>
          <li class="ecom">Ecommerce</li>
        </ul>
      </div>
    </div>
    <div class="searchBar">
      <form class="example">
        <input type="text" placeholder="Search.." name="search" />
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="cart">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
    <div class="userLogo">
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>

    <div class="loginText">
      <ul>
        <li>Welcome</li>
        <li>Sign In|Register</li>
      </ul>
    </div>
  </div> -->
  <div class="categoryDiv">
    <nav role="navigation">
      <ul>
        <li>
          <a href="#">All Category</a>
        </li>
        <li>
          <a href="#">Fashion</a>
        </li>
        <li>
          <a href="#">Super Market</a>
        </li>
        <li>
          <a href="#">Electronics</a>
        </li>
        <li>
          <a href="#">Boys & Toys</a>
        </li>
        <li>
          <a href="#">Fitness Sport</a>
        </li>
        <li>
          <a href="#">Colthing</a>
        </li>
        <li>
          <a href="#">Furniture</a>
        </li>
      </ul>
    </nav>
  </div>

  <section class="bannerRow">
    <div class="bannerImg"></div>
  </section>
  <section class="main-container">
    <div class="main-box">
      <article>
        <div>
          <i class="fas fa-truck" aria-hidden="true"></i>
          <p>Fast delievery</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            sodales urna non odio egestas tempor.
          </p>
        </div>
      </article>

      <article>
        <div>
          <i class="fa fa-university" aria-hidden="true"></i>
          <p>Fast delievery</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            sodales urna non odio egestas tempor.
          </p>
        </div>
      </article>
      <article>
        <div>
          <i class="fa fa-lock" aria-hidden="true"></i>
          <p>Fast delievery</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            sodales urna non odio egestas tempor.
          </p>
        </div>
      </article>
    </div>

    <section class="popularProductsRow">
      <p>Popular Products</p>
      <div>
        <article>
          <div>
            <img alt="product1" src="../../assets/images/product_1.jpg" />
          </div>
          <p>Just another product name</p>
          <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span> 34 reviws</span>
          </div>
          <p>$179.00</p>
        </article>

        <article>
          <div>
            <img alt="product1" src="../../assets/images/product_1.jpg" />
          </div>
          <p>Just another product name</p>
          <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span> 34 reviws</span>
          </div>
          <p>$179.00</p>
        </article>

        <article>
          <div>
            <img alt="product1" src="../../assets/images/product_1.jpg" />
          </div>
          <p>Just another product name</p>
          <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span> 34 reviws</span>
          </div>
          <p>$179.00</p>
        </article>

        <article>
          <div>
            <img alt="product1" src="../../assets/images/product_1.jpg" />
          </div>
          <p>Just another product name</p>
          <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span> 34 reviws</span>
          </div>
          <p>$179.00</p>
        </article>
      </div>
    </section>

    <section class="newArrivedRow">
      <p>New arrived</p>
      <div>
        <article>
          <img
          alt="product1" class="lastpopularIcon"
            src="../../assets/images/last_product.jpeg"
          />
        </article>
        <article>
          <img
            class="lastpopularIcon"
            alt="product1" src="../../assets/images/last_product.jpeg"
          />
        </article>
        <article>
          <img
            class="lastpopularIcon"
            alt="product1"   src="../../assets/images/last_product.jpeg"
          />
        </article>
        <article>
          <img
            class="lastpopularIcon"
            src="../../assets/images/last_product.jpeg"
          />
        </article>
      </div>
    </section>
  </section>
</div>
<div>

</div>