<div class="container">
  <div class="flex-container mainmenu">
        <div class="home">Home</div>
        <div>Delievery</div>
        <div>Payment</div> 
        <div class="contact">
                Call:+91-33322 22222
        </div> 
        <div>
           English
        </div> 
  </div>

  <div class="flex-container searchRow firstRow" >
      <ul>
          <li class="leftimg">
          </li>
          <li class="ecommerceText">
            <ul>
                <li style="color: black;
                font-weight: 600;">Bootstrap</li>
                <li class="ecom">Ecommerce</li>
            </ul>
          </li>
          <li>
            <div class="searchBar">
                <!-- <input type="text" placeholder="Search"> -->

                <form class="example" >
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>

            </div> 
          </li>
          <li class="cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </li>
       <li class="userLogo">
        <i class="fa fa-user" aria-hidden="true"></i>
       </li>
          <li>
            <div class="loginText">
                <ul>
                    <li>
                        Welcome
                    </li>
                   <li>
                    Sign In|Register
                   </li>
                </ul>
              
                    
            </div> 
          </li>
      </ul>
  </div>
<div class="flex-container  categorymenu">
    <div class="home">All Category</div>
    <div>Fashion</div>
    <div>Supermarket</div>
    <div>Electronics</div>
    <div>Baby & Toys</div>
    <div>Fitness Sport</div>
    <div>Clothings</div>
    <div>Furnitures</div>
</div>
<div class="banner">


<div class="bannerImg">

</div>
</div>

<div class="firstRow banner"> 
<div class="flex-container">
  
        <div>
            <div class="firstRowImage">
                <!-- <i class='fas fa-shipping-fast'></i> -->
                <i class="fas fa-truck" aria-hidden="true"></i>
                <!-- <i class="fas fa-shipping-fast"></i> -->
            </div>
            <div class="firstRowText">
                <h5>Fast Delivery</h5>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>

        <div>
            <div class="firstRowImage">
                <i class="fa fa-university" aria-hidden="true"></i>
            </div>
            <div class="firstRowText">
                <h5>Creative Strategy</h5>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>

        <div>
            <div class="firstRowImage">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            <div class="firstRowText">
                <h5>High Secured</h5>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>



    </div>
  
    <h2>Popular Products</h2>

<div class="flex-container popularIconRow">
  
    <div class="popularIcon">
        <div class="popularProductImage">
            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRRW088H0N5F8vilZD4EKqb1Q7s8MlNOAoTGrIcptzYBLMVuPcRNuwXiebcfg8UHTnwPw&usqp=CAU"> -->
            <img src="../../assets/images/product_1.jpg">
        </div>
       
        <div>
            <div class="desc">Just another product name</div>
        <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span>34 reviws</span></div>
        <div class="prodPrice">$179.00</div>
       </div>
    </div>
   
    <div class="popularIcon">
        <div class="popularProductImage">
            <img src="../../assets/images/product_2.jpg">
        </div>
       
        <div>
            <div class="desc">Just another product name</div>
        <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span>34 reviws</span></div>
        <div class="prodPrice">$179.00</div>
       </div>
    </div>
    <div class="popularIcon">
        <div class="popularProductImage">
            <img src="../../assets/images/product_3.jpg">
        </div>
       
        <div>
            <div class="desc">Just another product name</div>
        <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span>34 reviws</span></div>
        <div class="prodPrice">$179.00</div>
       </div>
    </div>
    <div class="popularIcon">
        <div class="popularProductImage">
            <img src="../../assets/images/product_4.jpg">
        </div>
       
        <div>
            <div class="desc">Just another product name</div>
        <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span>34 reviws</span></div>
        <div class="prodPrice">$179.00</div>
       </div>
    </div>
</div>
 
<h2>New arrived</h2>

<div class="flex-container popularIconRow">
  
    <div class="popularIcon">
        <div class="">
            <img class="lastpopularIcon" src="https://www.reliancedigital.in/medias/JBL-JBLT510BTBLU-Headphones-and-Headsets-492166099-i-1-1200Wx1200H-300Wx300H?context=bWFzdGVyfGltYWdlc3w1Nzc3MnxpbWFnZS9qcGVnfGltYWdlcy9oNjAvaDdkLzk1MDA3MjAzMDAwNjIuanBnfDQwNGQ0ODFlYjQ1YTZmZTRmZDc3M2ZiNmI4YWMzOTA0ZjViYWM4MmI2ZWFkNTZkODM5NTQ4OWYzMzhiZThhMjA">
        </div>
       
    </div>
  
    <div class="popularIcon">
        <div class="">
            <img class="lastpopularIcon" src="https://www.reliancedigital.in/medias/JBL-JBLT510BTBLU-Headphones-and-Headsets-492166099-i-1-1200Wx1200H-300Wx300H?context=bWFzdGVyfGltYWdlc3w1Nzc3MnxpbWFnZS9qcGVnfGltYWdlcy9oNjAvaDdkLzk1MDA3MjAzMDAwNjIuanBnfDQwNGQ0ODFlYjQ1YTZmZTRmZDc3M2ZiNmI4YWMzOTA0ZjViYWM4MmI2ZWFkNTZkODM5NTQ4OWYzMzhiZThhMjA">
        </div>
       
    </div>
  
    <div class="popularIcon">
        <div class="">
            <img class="lastpopularIcon" src="https://www.reliancedigital.in/medias/JBL-JBLT510BTBLU-Headphones-and-Headsets-492166099-i-1-1200Wx1200H-300Wx300H?context=bWFzdGVyfGltYWdlc3w1Nzc3MnxpbWFnZS9qcGVnfGltYWdlcy9oNjAvaDdkLzk1MDA3MjAzMDAwNjIuanBnfDQwNGQ0ODFlYjQ1YTZmZTRmZDc3M2ZiNmI4YWMzOTA0ZjViYWM4MmI2ZWFkNTZkODM5NTQ4OWYzMzhiZThhMjA">
        </div>
       
    </div>
  
    <div class="popularIcon">
        <div class="">
            <img class="lastpopularIcon" src="https://www.reliancedigital.in/medias/JBL-JBLT510BTBLU-Headphones-and-Headsets-492166099-i-1-1200Wx1200H-300Wx300H?context=bWFzdGVyfGltYWdlc3w1Nzc3MnxpbWFnZS9qcGVnfGltYWdlcy9oNjAvaDdkLzk1MDA3MjAzMDAwNjIuanBnfDQwNGQ0ODFlYjQ1YTZmZTRmZDc3M2ZiNmI4YWMzOTA0ZjViYWM4MmI2ZWFkNTZkODM5NTQ4OWYzMzhiZThhMjA">
        </div>
       
    </div>
  
  


</div>

</div>
 
</div>
