$menuColor: white;
$boldColor:black;
$menuweight: 600;
$leftspace: 70px;
$blueColor:  #1566f3;
.flex-container {
display: flex;
// background-color: #f1f1f1;
}
.mainmenu{
background-color: #1566f3;
padding: 10px;
color: #7ab2fc;//$menuColor;
}
.home{
    margin-left: $leftspace;
}
.mainmenu div{
padding-right: 25px;
}
.categorymenu{
    padding: 10px 10px;
    border: solid 1px #80808040;
}
.categorymenu div{
    color: $boldColor;
    font-weight: $menuweight;
    padding-right: 25px;
    font-size: 12px;
    }

.searchRow{
    // padding:20px;
    padding: 10px 10px;
}
.banner{
    margin: 30px 30px;
    margin-right: 80px;
    margin-left: $leftspace;
}
.bannerImg{
    height: 200px;

    width: 100%;
    //background-image: url(https://thumbs.dreamstime.com/b/holi-festival-background-design-colorful-splashing-copy-space-design-work-holi-festival-background-design-colorful-171000291.jpg);
    //background-image: url(https://www.pngmagic.com/product_images/ecommerce-website-banner.jpg);
    background-image: url("../../assets/images/banner.jpg");
    background-color: purple;
    /* background-position: center; */
    // background-repeat: no-repeat;
}
.firstRowText{
    margin-bottom: -15px;
    margin-top: -15px;
}
.firstRow p{
  
    // background-color: aqua;
    font-size: 12px;
}
.firstRow .flex-container div{
    margin-right: 30px;
}
.popularIconRow{
    border: 1px solid #8080800d;
    // background-color: aliceblue;
}
.popularIcon .desc{
    font-size: 15px;
    margin-top: 20px;
}
.popularIcon .popularProductImage{
    height: 200px;
    width: auto;
    // background-color: pink;
}
.review{
    color: grey;
    font-size: 13px;
    
    margin-bottom: 8px;
    margin-top: 8px;
}
.review:last-child{
    margin-right: 10px;
}
.checked {
    color: orange;
  }
.prodPrice{
    color: $boldColor;
    font-weight: $menuweight;
    font-size: 13px;
}
.lastpopularIcon{
    height: 200px;
}

.searchRow.firstRow ul{
    list-style: none;
  
    display: contents;
}
.ecommerceText{
    font-size: 13px;
}
.searchBar{
    margin-left: 100px;
}
.searchBar input{
    height: 24px;
}
.searchRow.firstRow .ecommerceText ul{

    display: inline-block;
}
.searchRow .leftimg{
    background-color: #543754;
    height: 30px;
    width: 30px;
    margin-left: $leftspace;
    margin-right: -37px;
}
.searchRow input{
    width: 500px;
}
.contact{
    font-size: 13px;
    margin-left: auto;
}
.cart{
    font-size: 14px;
    position: relative;
    margin-left: 200px;
    padding: 11px;
    border: 1px solid #80808026;
    border-radius: 17px;
    margin-right: 15px;

}
.cart ul{
    list-style: none;
  
    display: inline-flex;
}

.cart ul>li{
    margin-right: 14px;
 
}
.userLogo{
    padding: 10px;
    border: 1px solid #80808026;
    border-radius: 17px;
    margin-right: 20px;
}
.loginText{
    font-size: 12px;
    color: grey;
}

.firstRowImage i{
    color: $blueColor;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    // width: 80%;
    height: 13px;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    // width: 20%;
    padding: 7px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #1167f8;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .popularProductImage img{
    //height: 230px;
    /* margin-left: -43px; */
    /* margin-right: -45px; */
    height: 100%;
    // margin-left: -42px;
  }
.leftimg div ul{
    list-style: none;
    // display: inline-flex;
    font-size: 12px;
}
.ecommerceText .ecom{
    color: $blueColor;
}