<div class="container">
  <div class="">
    <div class="pt-5 searchBox">
      <input type="text" [(ngModel)]="valueFromChild" (keyup)="searchCustomer()" placeholder="Search name or username " />
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
  </div>
  <div class="pt-5 custTable">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>User name</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container class="actionCols" matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element">
          <a routerLinkActive="active" [routerLink]="['/showCustomer', element.id]">
            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container class="actionCols" matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <a routerLinkActive="active" (click)="deleteCust(element.id)">
            <mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>