.searchBox{
    margin:auto;
    width: 60%; 
    height: 50px;
}
.searchBox input{
    margin:auto;
    width: 600px; 
}

.searchBox i{
    margin-left: -20px;
}
.custTable{
    margin:auto;
    width: 600px;
}
.actionCols{
    margin: 0px 10px;
}