$menuColor: white;
$boldColor:black;
$menuweight: 600;
$leftspace: 70px;
$blueColor : #1566f3;
.flex-container {
	display: flex;
}

.mainmenu {
	background-color: #1566f3;
	// padding: 10px;
	color: #7ab2fc; //$menuColor;
	position: relative;
	ul {
		display: inline-flex;
		list-style: none;
	}
	li {
		padding-right: 15px;
	}
	li:nth-child(1) {
		padding-left: 40px;
	}
	li:nth-child(4) {
		position: absolute;
		right: 0;
		width: 22%;
	}
	li:nth-child(5) {
		position: absolute;
		right: 0;
		width: 6%;
	}
}

.home {
	margin-left: $leftspace;
}

.mainmenu div {
	padding-right: 25px;
}

.categorymenu {
	border: solid 1px #80808040;
	ul {
		li:nth-child(1) {
			margin-left: 30px;
		}
		display: inline-flex;
		list-style: none;
		font-weight: 600;
		font-size: 14px;
		li {
			// padding-right:  10px;
			/* padding-right: 10px; */
			/* width: auto; */
			padding: 0px 7px;
		}
	}
}

.categorymenu div {
	color: $boldColor;
	font-weight: $menuweight;
	padding-right: 25px;
	font-size: 12px;
}

.searchRow {
	// padding:20px;
	padding: 10px 10px;
}

.banner {
	margin: 30px 90px;
}
.bannerImg {
	height: 200px;
	width: 100%;
	background-image: url("../../assets/images/banner.jpg");
	background-color: purple;
	/* background-position: center; */
	// background-repeat: no-repeat;
}

.firstRowText {
	margin-bottom: -15px;
	margin-top: -15px;
}

.firstRow p {
	// background-color: aqua;
	font-size: 12px;
}

.firstRow .flex-container div {
	// padding-right: 50px;
	margin-right: 30px;
}

.popularIconRow {
	border: 1px solid #8080800d;
	// background-color: aliceblue;
}

.popularIcon .desc {
	font-size: 15px;
	margin-top: 20px;
}

.popularIcon .popularProductImage {
	height: 200px;
	width: auto;
	// background-color: pink;
}

.review {
	color: grey;
	font-size: 13px;
	margin-bottom: 8px;
	margin-top: 8px;
}

.review:last-child {
	margin-right: 10px;
}

.checked {
	color: orange;
}

.prodPrice {
	color: $boldColor;
	font-weight: $menuweight;
	font-size: 13px;
}

.lastpopularIcon {
	height: 200px;
}

.searchRow.firstRow ul {
	list-style: none;
	display: contents;
}

.ecommerceText {
	font-size: 13px;
}

.searchBar {
	margin-left: 100px;
}

.searchBar input {
	height: 24px;
}

// .searchRow.firstRow .ecommerceText ul{
// display: inline-block;
// }
.ecommerceText {
	margin-left: 38px
}

.searchRow .leftimg {
	background-color: #543754;
	height: 30px;
	width: 30px;
	margin-left: $leftspace;
	margin-right: -37px;
}

.searchRow input {
	width: 500px;
}

.contact {
	font-size: 13px;
	margin-left: auto;
}

.cart {
	font-size: 14px;
	position: relative;
	margin-left: 200px;
	padding: 11px;
	border: 1px solid #80808026;
	border-radius: 17px;
	margin-right: 15px;
}

.cart ul {
	list-style: none;
	display: inline-flex;
}

.cart ul>li {
	margin-right: 14px;
}

.userLogo {
	padding: 10px;
	border: 1px solid #80808026;
	border-radius: 17px;
	margin-right: 20px;
}

.loginText {
	font-size: 12px;
	color: grey;
}

.firstRowImage i {
	color: $blueColor;
}

form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	// width: 80%;
	height: 13px;
	background: #f1f1f1;
}

form.example button {
	float: left;
	// width: 20%;
	padding: 7px;
	background: #2196F3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}

form.example button:hover {
	background: #1167f8;
}

form.example::after {
	content: "";
	clear: both;
	display: table;
}

.popularProductImage img {
	height: 100%;
}

.leftimg div ul {
	list-style: none;
	font-size: 12px;
}

.ecommerceText .ecom {
	color: $blueColor;
}

@media (max-width: 800px) {
	.flex-container {
		flex-direction: column;
	}
}

@media screen and (max-width: 500px) {
	.mainmenu ul {
		width: 100%;
		display: block;
		text-align: justify;
	}
	.mainmenu ul li:nth-child(4) {
		position: unset;
		width: 100%;
	}
	.mainmenu ul li:nth-child(5) {
		position: unset;
	}
	.mainmenu ul li {
		padding: 10px;
	}
	.categorymenu ul {
		display: contents;
	}
	.categorymenu ul li:nth-child(1) {
		margin-left: 0px;
	}
	.categorymenu ul li {
		background-color: plum;
		padding: 10px;
	}
	.searchRow.firstRow ul {
		display: -webkit-inline-box;
	}
	.searchRow input {
		width: 100px;
	}
}