<div class="container">
  <div class="mainmenu">
    <!-- <div class="home">Home</div>
          <div>Delievery</div>
          <div>Payment</div> 
          <div class="contact">
                  Call:+91-33322 22222
          </div> 
          <div>
             English
          </div>  -->
    <ul>
      <li>Home</li>
      <li>Delievery</li>
      <li>Payment</li>
      <li>Call:+91-33322 22222</li>
      <li>English</li>
    </ul>
  </div>
  <!-- <div class="flex-container searchRow firstRow">
       <ul>
           <li class="leftimg">
           </li>
           <li class="ecommerceText">
               <ul>
                   <li style="color: black;
               font-weight: 600;">Bootstrap</li>
                   <li class="ecom">Ecommerce</li>
               </ul>
           </li>
           <li>
               <div class="searchBar">
       
                   <form class="example">
                       <input type="text" placeholder="Search.." name="search">
                       <button type="submit"><i class="fa fa-search"></i></button>
                   </form>
       
               </div>
           </li>
           <li class="cart">
               <i class="fa fa-shopping-cart" aria-hidden="true"></i>
           </li>
           <li class="userLogo">
               <i class="fa fa-user" aria-hidden="true"></i>
           </li>
           <li>
               <div class="loginText">
                   <ul>
                       <li>
                           Welcome
                       </li>
                       <li>
                           Sign In|Register
                       </li>
                   </ul>
       
       
               </div>
           </li>
       </ul>
       </div> -->
  <section class="flex-container searchRow firstRow">
    <div>
      <div class="leftimg"></div>
    </div>
    <div class="ecommerceText">
      <ul>
        <li style="color: black; font-weight: 600">Bootstrap</li>
        <li class="ecom">Ecommerce</li>
      </ul>
    </div>
    <div class="searchBar">
      <form class="example">
        <input type="text" placeholder="Search.." name="search" />
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="cart">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
    <div class="userLogo">
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    <div>
      <div class="loginText">
        <ul>
          <li>Welcome</li>
          <li>Sign In|Register</li>
        </ul>
      </div>
    </div>
  </section>
  <div class="categorymenu">
    <ul class="">
      <li>All Category</li>
      <li>Fashion</li>
      <li>Supermarket</li>
      <li>Electronics</li>
      <li>Baby & Toys</li>
      <li>Fitness Sport</li>
      <li>Clothings</li>
      <li>Furnitures</li>
    </ul>
  </div>
  <section class="banner">
    <div class="bannerImg"></div>
  </section>
  <div class="firstRow banner">
    <div class="flex-container">
      <div>
        <div class="firstRowImage">
          <!-- <i class='fas fa-shipping-fast'></i> -->
          <i class="fas fa-truck" aria-hidden="true"></i>
          <!-- <i class="fas fa-shipping-fast"></i> -->
        </div>
        <div class="firstRowText">
          <h5>Fast Delivery</h5>
        </div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </div>
      <div>
        <div class="firstRowImage">
          <i class="fa fa-university" aria-hidden="true"></i>
        </div>
        <div class="firstRowText">
          <h5>Creative Strategy</h5>
        </div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </div>
      <div>
        <div class="firstRowImage">
          <i class="fa fa-lock" aria-hidden="true"></i>
        </div>
        <div class="firstRowText">
          <h5>High Secured</h5>
        </div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </div>
    </div>
    <h2>Popular Products</h2>
    <section class="flex-container popularIconRow">
      <div class="popularIcon">
        <div class="popularProductImage">
          <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRRW088H0N5F8vilZD4EKqb1Q7s8MlNOAoTGrIcptzYBLMVuPcRNuwXiebcfg8UHTnwPw&usqp=CAU"> -->
          <img src="../../assets/images/product_1.jpg" />
        </div>
        <div>
          <div class="desc">Just another product name</div>
          <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span>34 reviws</span>
          </div>
          <div class="prodPrice">$179.00</div>
        </div>
      </div>
      <div class="popularIcon">
        <div class="popularProductImage">
          <img src="../../assets/images/product_2.jpg" />
        </div>
        <div>
          <div class="desc">Just another product name</div>
          <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span>34 reviws</span>
          </div>
          <div class="prodPrice">$179.00</div>
        </div>
      </div>
      <div class="popularIcon">
        <div class="popularProductImage">
          <img src="../../assets/images/product_3.jpg" />
        </div>
        <div>
          <div class="desc">Just another product name</div>
          <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span>34 reviws</span>
          </div>
          <div class="prodPrice">$179.00</div>
        </div>
      </div>
      <div class="popularIcon">
        <div class="popularProductImage">
          <img src="../../assets/images/product_4.jpg" />
        </div>
        <div>
          <div class="desc">Just another product name</div>
          <div class="review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span>34 reviws</span>
          </div>
          <div class="prodPrice">$179.00</div>
        </div>
      </div>
    </section>
    <h2>New arrived</h2>
    <div class="flex-container popularIconRow">
      <div class="popularIcon">
        <div class="">
          <img
            class="lastpopularIcon"
            src="../../assets/images/last_product.jpeg"
          />
        </div>
      </div>
      <div class="popularIcon">
        <div class="">
          <img
            class="lastpopularIcon"
            src="../../assets/images/last_product.jpeg"
          />
        </div>
      </div>
      <div class="popularIcon">
        <div class="">
          <img
            class="lastpopularIcon"
            src="../../assets/images/last_product.jpeg"
          />
        </div>
      </div>
      <div class="popularIcon">
        <div class="">
          <img
            class="lastpopularIcon"
            src="../../assets/images/last_product.jpeg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
